*{
    margin: 0;
    padding: 0;
}

 nav ul{
     list-style: none;
     display: flex;
     justify-content: space-between;
 }

 a{
     text-decoration: none;
     font-size: 20px;
     color: white;
     padding: 12px 20px;
     display: block;
 }

a:hover{
     background: black;
 }

 nav ul li ul{
     position: absolute;
     background: red;
     display: flex;
     flex-direction: column;
     min-width: 100%;
 }

 h1{
    color: white;
    padding: 12px 20px;
}

 li {
     position: relative;
     width:25%;
 }

.tamano li{
    width: 100%;;
}